.content {
  width: 95%;
  max-width: 60rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
}

.content h2 {
  font-size: var(--size-6);
  color: var(--color-grey-800);
  font-weight: bold;
  margin: 2rem 0;
}

.content p {
  color: var(--color-grey-800);
}

/* Estilos para la lista no ordenada dentro del contenedor .content */
.content ul {
  list-style-type: disc; /* Cambia el tipo de viñeta, por ejemplo, disc, circle, square, etc. */
  margin: 20px; /* Márgenes alrededor de la lista */
  padding-left: 40px; /* Espacio antes de la lista para alinear con las viñetas */
  color: #333; /* Color del texto */
}

/* Estilos para los elementos de la lista */
.content ul li {
  margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  font-size: 16px; /* Tamaño de la fuente */
  line-height: 1.5; /* Altura de la línea para mejorar la legibilidad */
  color: #3e3e3e; /* Color del texto de los ítems */
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}

.markdown {
  margin: 2rem 0;
}
